%h2 Detalhes da playlist

%div.dt
  %p
    %b Nome:
    = @playlist.nome

%h2 Musicas dessa playlist

%tbody
  - @playlist.playlist_musicas.each do |musica| 
    %tr
      %td= musica.musica.nome
    %br



= link_to 'Editar', edit_playlist_path(@playlist), :class => 'allbt'
\|
= link_to 'Voltar', playlists_path, :class => 'allbt'
