<h5>In development | CompartMusic </h5>

<h5 id="ftsubtitle">development tools</h5>

<img class="devimg" src="https://achievement-images.teamtreehouse.com/badges_bonus_html5mobile.png"/>

<img class="devimg" src="https://achievement-images.teamtreehouse.com/CSS3.png">

<img class="devimg" src="https://achievement-images.teamtreehouse.com/badges_SimpleFacebook_Stage1.png">

<p class="fttitle">Hosted by:</p>
<img class="logo2" src="https://camo.githubusercontent.com/0428845048b06e15445db28452ca820b8207d95d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6b696e6c616e652d70726f64756374696f6e732f6170692d6576616e67656c6973742f6865726f6b752f6865726f6b752d6c6f676f2e706e67"/>